.card{
    box-sizing: border-box;
    background-color: #CBCCF0;
    width: 320px;
    padding: 2rem;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: black;
    border-radius: 18px;
    text-align: justify;
   
}

.card-conteudo{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    text-align-last: left;

}
.card-conteudo h3{
    letter-spacing: 0.5px;
    hyphens: auto;
    font-size: 1.6rem;
    font-weight: bolder;
    text-align: justify;
}

.primeiro p{
    font-size: 18px;
    font-weight: light;
}

.lista{
    font-size: 16px;
}
.div-botao{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 14px;

}

.botao{
    background-color: #FF8700;
    display: inline-block;
    padding: 8px;
    width: 70%;
    text-align: center;    
}

.lista li{
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
    
}

