#botoes{
    margin-top: 2rem;
    color: white;
}
#botoes a{
    background-color: #172EC4 ;
    padding: 0.8rem;
    border-radius: 10px;
    
}


#botoes a:hover{
    background-color: #FF8700 ;
    cursor: pointer;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease, transform 0.3s ease; 
}
