#cadastroEmpresaForm{
    margin-top: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    gap: 30px;
}

h2{
    font-size: 30px;
}

#dadosEmpresas{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
h2{
    color: #172EC4;
}
.botao button{
    background-color: #172EC4;
    width: 350px;
    height: 40px;
    border-radius: 5px;
    color: white;
    box-shadow: 
     0 4px 8px rgba(49, 49, 48, 0.6);;
}

.botao button:hover{
        background-color: #FF8700 ;
   
}

.botao p{
    text-align: center;
    margin-top: 10px;
  color: #615C5C;
    
}